.app {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    .sidebar {
        height: 100%;
        background-color: blue;
    }
    
    .sections {
        display: flex;
        flex-direction: column;
         > * {
            height: 500px;
         }
    }
}

